.hero {
  text-align: center;
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-text {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
  padding: 0 1.5rem;
  margin: 5.5rem auto;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 32px;
    line-height: 150%;
    padding: 0;
    margin: 88px 60px;
  }
}

/*Desktop*/
@media screen and (min-width: 1440px) {
  .hero-text {
    font-size: 32px;
    line-height: 150%;
    padding: 0;
    margin: 104px 120px;
  }
}
