:root{
   --background-primary-color: #ffffff;
   --background-secondary-color: #f5f5f5;
   --background-tertiary-color: #000000;

   --button-primary-color: #B81515;
   --button-secondary-color: #8F0101;

   --text-primary-color: #222222;
   --text-secondary-color:  #ffffff;
   --text-tertiary-color: #f5f5f5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
